body, html, #root {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

/* body, html, #root {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex: 1;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
}

.sidebar-fixed {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 50px;
  width: 70px;
  overflow-y: auto;
  border-radius: 0 20px 20px 0;
}

.sidebar-fixed::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 114px); 
  padding: 16px;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  background-color: white;
} */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex-grow: 1;
  overflow: hidden; /* prevents whole-page scroll */
}

.sidebar-fixed {
  width: 10px;
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  /* height: calc(100vh - 64px - 50px);  */
}
.main-content.logged-in {
  overflow-y: auto;
  height: calc(100vh - 40px - 50px); 
}